{% extends "base_generic.html" %}
{% block title %}Please select{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}

{% block content %}
<div style = "margin: 40px; margin-left: 10%;">
  <p>
    <h3><a href="{{ url_for('lta_overdue') }}">Overdue crystals</a></h3></p>
    <p>
    <h3><a href="{{ url_for('lta_search') }}">LTA Runs</a></h3></p>
    <div style="padding-top: 30px;"></div>
<!--    <p><a href="{{ url_for('index') }}" target="blank"><button class='btn btn-default'>Back</button></a></p>-->

</div>
{% endblock %}
