{% extends "base_generic.html" %}

{% block title %}Please select{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}



    <div style = "margin-top: 30px;"></div>

<!--<div class="loader" style="display: none; z-index: 289;"></div>-->

    <div class="container bar">
<!--        <div class="col-sm-1"></div>-->

        <div class="progress">
            <div class="progress-bar progress-bar-striped active" id="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="1" aria-valuemax="3" style="min-width: 2em; width: 10%;"></div>
        </div>
<!--        <div class="col-sm-1"></div>-->
    </div>

    <div class="container-fluid semihidden">



        <form class="form-horizontal" action="/lta/search" method="GET" enctype="multipart/form-data">

            <div class="form-group">
                <div class="col-sm-1">
                    <a href="{{ url_for('lta') }}" target="blank"><button type="button" href="{{ url_for('lta') }}" class="btn btn-default pull-right">Back</button></a>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="search" name="search" value="{{ entered_search }}" placeholder="Search string">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-default search_submit">Search</button>
                </div>
                <div class="col-sm-1"></div>
            </div>

        </form>

    {% if purposes %}
        <form class="form-horizontal filter-form" action="/lta/search" method="POST" enctype="multipart/form-data">
            <div class="form-group">
            <div class="col-sm-1"></div>
        <div class="col-sm-9">

            <select  class="form-control auto_submit_item" id="mySelect" name="purpose">
                {% for purpose in purposes %}
                    <option value="{{purpose}}" {% if purpose==entered_purpose %} selected {% endif %}>{{purposes[purpose]}}</option>
                {% endfor %}
            </select>

            </div>
           <div class="col-sm-1">
          <button type="submit" class="btn btn-default hidden">Check</button>
     </div>
          <div class="col-sm-1"></div>
          </div>
        </form>

    {% endif %}



                {% if freq %}

    <form class="form-horizontal" action="{{ url_for('lta_plot') }}" method="POST" enctype="multipart/form-data">

        {% if freq %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Frequency</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{freq}}</p>
                </div>
            </div>
        {% endif %}

        {% if crystal_type %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Crystal</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{crystal_type}}</p>
                </div>
            </div>
        {% endif %}

        {% if owner %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Owner</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{owner}}</p>
                </div>
            </div>
        {% endif %}

        {% if start %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{start}}</p>
                </div>
            </div>
        {% endif %}

        {% if finish %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Finish Date</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{finish}}</p>
                </div>
            </div>
        {% endif %}

        {% if jig %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Jig type</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{jig}}</p>
                </div>
            </div>
        {% endif %}

        {% if packet %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Packet</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{packet}}</p>
                </div>
            </div>
        {% endif %}

        {% if sap %}
            <div class="form-group">
                <label class="col-sm-2 control-label">SAP #</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{sap}}</p>
                </div>
            </div>
        {% endif %}

        {% if purp %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Purpose</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{purp}}</p>
                </div>
            </div>
        {% endif %}






  <div class="form-group">

      <div class="col-sm-2"></div>


    <div class="col-sm-8">
      <button type="submit" class="btn btn-success spin">Plot</button>
    </div>
     <div class="col-sm-2"></div>


  </div>
        </form>


        {% endif %}

    </div>

{% endblock %}